#header {
	width:500px;
	height:170px;
	background-color:#ECECEC;
}
#footer {
	width:500px;
	height:105px;
	background-color:#ECECEC;
}
#ttt-container {
	width:500px;
	height:400px;
	margin:0 auto;
	background-color:#14bdac;
}
#scoreBoard {
	height:50px;
	width:350px;
	font-size:2em;
	margin:5px auto;
}
#player1,#player2 {
	line-height:40px;
	height:50px;
	width:100px;
	padding:5px 10px;
	user-select:none;
	cursor:pointer;
}
#player1 {
	float:left;
	border:3px solid #14bdac;
}
#player2 {
	float:right;
	border:3px solid #000000;
}
#playerX,#playerO {
	float:left;
}
#playerScore, #computerScore {
	float:right;
}
#ttt-div {
	width:600px;
	height:455px;
	margin:25px auto;
}
#ttt-title {
	text-align:center;
	margin:10px auto;
	font-size:3.5em;
	font-family: 'Fresca', sans-serif;
}
#ttt-restart {
	text-align:center;
	font-size:2em;
	margin:30px 0;
	font-family: 'Fresca', sans-serif;
	user-select:none;
	cursor:pointer;
}
.ttt-squares {
	width:600px;
	height:100px;
	display:table;
	margin:0 -64px;
	text-align:center;
}
.squares {
	display:inline-block;
	height:115px;
	width:115px;
	line-height:105px;
	font-size:4em;
	user-select:none;
	cursor:pointer;
}
#sq-0,#sq-3,#sq-6 {
	border-right:5px solid grey;
}
#sq-2,#sq-5,#sq-8 {
	border-left:5px solid grey;
}
#sq-3,#sq-4,#sq-5 {
	border-top:5px solid grey;
	border-bottom:5px solid grey;
}